html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
	padding: 0px;
	margin: 0px;
	background: #EEEEEE;
    
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", "Times New Roman", serif;
    text-align: center;
}

#tab-header {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    width: 160px;
    margin: 0px;
    padding: 0px;
    
    background: #222;
    
    border-right: 5px solid #EE2222;
}

#tab-title {
    display: inline-block;
    margin: 10px;
    
    color: #EEE;
    text-align: left;
    
    font-family: Tahoma, Geneva, serif;
    font-weight: normal;
}

#tab-container {
    display: inline-block;
}

.tab-selector {
    display: inline-block;
    
    padding: 0px;
    margin: 10px 0px;
    width: 100%;
    
    text-align: center;
    color: #EEE;
    
    cursor: pointer;
    
    transition: padding 0.2s;
    -webkit-transition: padding 0.2s;
}

.tab-selected {
    font-weight: bold;
    border: 2px solid #EE2222;
    border-width: 2px 0px;
    padding: 10px 0px;
}

.tab {
    margin: 50px 0px 100px 250px;
}

.info {
    width: 650px;
    margin: 0px auto;
}

#about {
}

button.single {
	display: block;
}

.warning {
    font-style: italic;
    font-size: 0.8em;
}

thead {
    font-weight: bold;
    background: #333333;
    color: #EEEEEE;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
}
 
.cp {
    width: 650px;
    margin: 5px auto;
}
 
.cp-radio-container {
    display: inline-block;
}

.cp-radio-container input[type="radio"] {
    display: none;
}

.cp-radio-container input[type="radio"] + label {
    display: inline-block;
    width: 100px;
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
}

/*
    Use this format to style the selected button
#container input[type="radio"]:checked + label {
}
*/

@media print, (max-device-width: 9in), (max-width: 9in) {
	html {
		background: none;
		margin: 0px;
		padding: 0px;
	}
    
    .cp {
        display: none;
    }
    
	#tab-header {
		display: none;
	}
    
    .tab {
        width: auto;
        margin: 0px;
        padding: 0px;
    }
    
    thead {
        font-weight: bold;
        background: #FFFFFF;
        color: #000;
    }
    
    .info {
        display: none;
    }
}