#planner table h1 {
	text-align: center;
    font-weight: bold;
    font-size: 1em;
    border-bottom: 1px solid #333333;
    margin: 0px;
    padding: 5px;
}

#planner table {
    width: 75%;
    margin: 0px auto;
}

#planner thead td {
    border: 1px solid #333333;
    text-align: center;
}

#planner tbody td {
	border: 5px solid #333333;
    border-width: 3px 1px 3px 1px;
    
	width: 100px;
	padding: 0px;
    
	vertical-align: top;
}

.planner-period {
    position: relative;
    width: auto;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid #333333;
    height: 20px;
}

.planner-period .num {
    border-right: 1px solid #333333;
    margin: 0px;
    padding: 5px;
    text-align: left;
}
.planner-period span:not(.num) {
    text-align: right;
    width: 100%;
    padding: 5px;
}

.planner-period:last-child {
    border: none;
}

.planner-month .placeholder, .planner-month .no-school {
	background: #666666;
}

@media print, (max-device-width: 9in) {
    .planner {
        width: 100%;
        padding: 0px;
        margin: 10px 0px 0px 0px;
    }
    
    .planner table {
        width: 100%;
    }
    
	.planner-month {
		max-height: 10in;
		padding: 0px;
        margin: 0px;
        
		page-break-after: always;
		page-break-inside: avoid;
	}
    
    .planner-month table {
        width: 8in;
        margin: 0px auto;
    }
}