#schedule-container {
    position: relative;
}

#schedule-classes {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: right;
    
    width: 150px;
    
    height: 100%;
    vertical-align: top;
}

#schedule-classes label {
    display: block;
    width: auto;
    border: none;
    
    padding: 5px;
    text-align: right;
    transition: padding-right 0.2s;
    -webkit-transition: padding-right 0.2s;
}
#schedule-classes label:hover {
    padding-right: 10px;
}
#schedule-classes input:checked + label {
    padding-right: 15px;
    font-weight: bold;
}

#schedule-class-add {
    display: block;
    margin: 0px 0px 5px auto;
    width: 100px;
    
    padding: 15px;
    
    border-radius: 10px 0px 0px 10px;
    
    border: 3px solid #3366FF;
    border-right: none;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    
    color: #EEE;
    font-weight: bold;
    
    background: #3366FF;
    
    cursor: pointer;
}
#schedule-class-add:hover {
    background: #2255AA;
}
.schedule-class-remove {
}
.schedule-class-input {
    padding: 5px;
    width: 90px;
    border: none;
    border-bottom: 3px solid #EE2222;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#schedule-styler {
    display: block;
}
#schedule-styler label {
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    
    border: none;
}
#schedule-styler label:hover, #schedule-styler input:checked + label{
    border: 2px solid #000;
}

#schedule-table {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-left: 5px solid #3366FF;
}

/* The period and day headers on the #schedule-table > table*/
.schedule-period {
    cursor: pointer;
}
.schedule-day {
    cursor: pointer;
}

.schedule-table-input {
    width: 90px;
    padding: 5px;
    margin: 0px;
    
    text-align: center;
    vertical-align: middle;
    border: none;
    border-bottom: 2px solid #EE2222;
    font-weight: bold;
}

#schedule-table > table td {
    width: 100px;
    height: 50px;
    
    text-align: center;
    vertical-align: middle;
}

#schedule-table tbody td:hover:not(:first-child) {
    box-shadow: inset 0px 0px 10px #333333;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media print, (max-device-width: 9in) {
    #schedule-styler, #schedule-classes {
        display: none;
    }
    
    #schedule-table {
        border: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    #schedule-table > table {
        border: none;
        width: 90%;
        margin: 10px auto;
    }
    
    #schedule-table > table td {
        border: 1px solid #000;
    }
}