.settings-group {
    display: inline-block;

    width: 300px;
    padding: 15px;
    margin: 10px;

    border: 1px solid black;

    background: #FFFFFF;
    box-shadow: 5px 5px 15px #333333;

    text-align: left;
    vertical-align: top;
}

#settings-saving button {
    display: block;
}

#settings {
    text-align: center;
}

#settings h1 {
    text-align: center;
}

#settings label {
    padding: 5px 0px;
    font-style: italic;
    clear: left;
}

#settings input {
    float: right;
}

#s-save-text {
    width: 100%;
    height: 10em;
    margin: 15px 0px;
}

#s-save-button {
    margin: 0px 10px;
}
